<ion-view title="Page" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="page2-heading2" style="color:#000000;">{{company}}</h1>
    <div id="page2-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:14px;">Current price: $ {{price}} USD</p>
    </div>
    <div id="page2-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:14px;">Date of analysis: {{date}}</p>
    </div>
    <div id="page2-markdown3" class="show-list-numbers-and-dots">
      <p style="color:{{color}};font-size:14px;">{{result}}</p>
    </div>
    <div id="page2-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:14px;">{{invest}}</p>
    </div>
    <a ui-sref="page()" id="page2-button2" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>
